<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458801301945-lqicfvrb5dt6j4ur1u7bk999hule0toq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458801301945-lqicfvrb5dt6j4ur1u7bk999hule0toq</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ14iAZ6k5gG4sXNf9R_f-MKdOijiFapU</string>
	<key>GCM_SENDER_ID</key>
	<string>458801301945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-da9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-da9ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458801301945:ios:2ae8acef037558ab4ece68</string>
</dict>
</plist>